<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/admin/x-admin2/lib/layui/css/layui.css"  media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <script type="text/javascript" src="/admin/x-admin2/js/xadmin.js"></script>
    <style>
        .layui-table-cell{
            text-align:center;
            height: auto;
            white-space: normal;
        }

    </style>
</head>
<body>
<div class="layui-tab-title site-demo-title">

</div>
<div class="demoTable">
    <span>
        搜索手机号：
        <div class="layui-inline">
            <input class="layui-input" name="id" id="demoReload" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
    </span>
</div>
<div id="userBar" class="layui-btn-group" style="display: none">
    <div class="layui-btn-group">
        <button type="button" class="layui-btn layui-btn-sm" lay-event="edit">修改</button>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="del">删除</button>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-danger" lay-event="editTime">时间</button>
    </div>
</div>
<div class="layui-btn-group" id="addSatff" style="display:none;">
    <button type="button" class="layui-btn" lay-event="add">增加</button>
</div>
<div type="text/html" id="titleTpl" style="display: none;">
    <img id="pic" style="width: 120px;position: relative;"  src="/uploads/{{d.pic_1}}" />
</div>

<table class="layui-hide" id="userTable" lay-filter="userTable"></table>
<script src="/admin/x-admin2/lib/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['table','form','layer','laydate','form','jquery'], function(){
        var table = layui.table;
        var $ = layui.jquery
        table.render({
            elem:"#userTable",
            url:'/admin/staff/all',
            page:true,
            title:'技师表',//数据导出时候的表
            toolbar:'#addSatff',//工具条，可以跟选择器
            height:'full-100',
            limit:'10',
            defaultToolbar:['print'],
            done:function(res,curr,count){
/*                alert(res);//后台返回的json
                alert(curr);//当前页
                alert(count);//数据总条数*/
            },
            totalRow:true,//合并行
            limit:10,//设置每页显示条数

            cols:[[
                {field:'st_id',title:'ID'},
                {field:'pic_1',title:'工装照',templet: '#titleTpl'},
                {field:'name',title:'姓名'},
                {field:'nickname',title:'昵称'},
                {field:'iphone',title:'接单手机号'},
                {field:'desc',title:'简介'},
                {fixed:'right',field:'desc',title:'操作',toolbar:'#userBar',width:'200',align:'center'},

            ]]
        })



        table.on('tool(userTable)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if(layEvent === 'detail'){ //查看
                //do somehing
            } else if(layEvent === 'del'){ //删除
                id = data.st_id;
                layer.confirm('真的删除行么', function(index){
                    //发异步删除数据
                    $.ajax({
                        url: '/admin/staff/'+id,
                        type: 'DELETE',
                        success:function (res) {
                            console.log(res)
                            if (res==1){
                                obj.del();
                                layer.msg('已删除!', {
                                    icon: 1,
                                    time: 1000
                                });
                            } else{
                                layer.msg('删除失败!', {
                                    icon: 2,
                                    time: 1000
                                });
                            }
                        }

                    });
                });
            } else if(layEvent === 'edit'){ //编辑
                //do something
                id = data.st_id;
                xadmin.open('编辑','/admin/staff/'+id+'/edit',900,700);
                //同步更新缓存对应的值

            } else if(layEvent === 'LAYTABLE_TIPS'){
                layer.alert('Hi，头部工具栏扩展的右侧图标。');
            } else if(layEvent === 'editTime'){ //编辑
                //do something
                id = data.st_id;
                xadmin.open('编辑','/admin/staffmanagetime?st_id='+id,1200,420);
                //同步更新缓存对应的值

            }
        });

    });
</script>

</body>
</html>