array(24) {
["order_id"] => int(119)
["user_id"] => int(1)
["st_id"] => int(38)
["st_info"] => object(stdClass)#14 (30) {
    ["st_id"] => int(38)
    ["name"] => string(9) "周俊哲"
    ["nickname"] => string(6) "兰儿"
    ["passwd"] => string(32) "90c5a8a2b4b1f205577f148ab0e2923b"
    ["iphone"] => string(11) "18396861513"
    ["desc"] => string(181) "正规绿色服务！简历从事养生行3年多，擅长芳香SPA，全身经络调理，及淋巴排毒，精通专业养生知识，给您带来一份健康专业的理疗健康"
    ["status"] => int(0)
    ["verification"] => string(1) "0"
    ["pic_1"] => string(53) "project/20191228/90ce28d1fb2341a1cac05bd5e37e623a.jpg"
    ["pic_2"] => string(0) ""
    ["pic_3"] => string(0) ""
    ["pic_4"] => string(0) ""
    ["pic_5"] => string(0) ""
    ["pic_6"] => NULL
    ["order_number"] => int(19)
    ["Longitude"] => string(21) "116.12848900000000000"
    ["latitude"] => string(20) "35.76238700000000000"
    ["monday"] => int(1)
    ["tuesday"] => int(1)
    ["wednesday"] => int(1)
    ["thursday"] => int(1)
    ["friday"] => int(1)
    ["saturday"] => int(1)
    ["sunday"] => int(1)
    ["s_time"] => string(8) "08:00:00"
    ["e_time"] => string(8) "20:00:00"
    ["service_Areas"] => NULL
    ["code"] => string(18) "370832199207231711"
    ["address"] => string(50) "山东省济南市槐荫区花园小区17号楼202"
    ["create_time"] => NULL
}
["st_info_ord"] => NULL
["pr_id"] => int(42)
    ["pr_info"] => object(stdClass)#16 (17) {
    ["pr_id"] => int(42)
    ["name"] => NULL
    ["title"] => string(21) "生命之源活力SPA"
    ["desc"] => string(865) "项目时长：130分钟
    服务姿势：仰卧 .俯卧
    适用人群：身心疲惫，睡眠不足，经络不通 ，压力大等人群
    不宜人群：高龄者、孕妇、哺乳期、经期、骨质疏松、高血压、心脏病、皮肤病
    项目功效：调理身心，激活身体每一个细胞，唤醒身体机能，延缓衰老、淋巴排毒、提高身体免疫力

    服务流程：背指压腧穴手法30分钟——腿部放松手法20分钟——腹部舒缓手法20分钟——腰护理手法20分钟——腰骶部八髎穴暖式手法15分钟——眼部缓解15分钟——手臂腋下淋巴排毒10分钟
    服务用品：精油、一次性塑料封袋（一次性床单、短裤、口罩、毛巾、亚健康调理高档精油一瓶
    温馨提示：如需现场加购此项目本店予以优惠。最终加购价格请以实际付款价格为准。"
    ["or_price"] => string(7) "1280.00"
    ["price"] => string(7) "1180.00"
    ["append_time"] => NULL
    ["add_purchase_desc"] => string(2) "70"
    ["min_num"] => int(1)
    ["add_purchase_price"] => string(5) "50.00"
    ["city"] => string(1) "1"
    ["photo"] => string(53) "project/20191228/001e5e2ede6edae17794a6f408789d19.jpg"
    ["duration"] => string(3) "130"
    ["orderby"] => NULL
    ["shop_type"] => NULL
    ["create_time"] => string(19) "2019-12-28 20:37:35"
    ["status"] => int(1)
}
["subtime"] => string(10) "1586739600"
["notice"] => int(0)
["add_purchase_desc"] => string(2) "70"
["add_purchase_minimum"] => int(1)
["add_purchase_num"] => int(0)
["add_purchase_price"] => string(5) "80.00"
["add_purchase_tprice"] => string(4) "0.00"
["status"] => int(2)
["subsidy"] => string(4) "0.00"
["address"] => string(39) "山东省济宁市梁山县房那里村"
["address_contacts"] => string(6) "马黎"
["address_mobile"] => string(11) "18396861513"
["longitude"] => float(116)
["latitude"] => float(36)
["create_time"] => string(19) "2020-04-12 16:03:52"
["total_price"] => string(7) "1180.00"
["title"] => string(21) "生命之源活力SPA"
}